* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.Container {
    scroll-margin-top: 80px;
    background-color: #222;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box_1 {
    width: 50%;
    padding: 0rem 4rem 0rem 2rem;
}

.box_2 {
    width: 50%;
    padding: 2rem;
    font-size: 2rem;
}

.hello {
    padding: 5px 0px 5px;
    color: #636161;
    line-height: 2rem;
}

.para_one {
    padding-bottom: 15px;
    font-size: 1rem;
}

.para_two {
    font-size: 1rem;
}

.exploding-word {
    font-size: 6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.exploding-word span {
    display: inline-block;
    transition: transform 0.3s;
}

@media (max-width: 768px) {
    .Container {
        flex-direction: column;
        padding: 1.5rem;
    }

    .box_1,
    .box_2 {
        width: 100%;
    }

    .box_2 {
        font-size: 1rem;
    }

    .para_one,
    .para_two {
        font-size: 0.95rem;
    }
}

@media (max-width: 550px) {
    .box_1 {
        padding: 2rem 0rem 2rem 1rem;
    }

    .exploding-word span {
        font-size: 3rem !important;
        line-height: 2;
    }

    .para_one,
    .para_two {
        font-size: 0.9rem;
    }

    .box_2 {
        font-size: 0.9rem;
    }
}